@page
@model Assignment0.Pages_Profile.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SiteUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteUser.LastName)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SiteUser?.SiteUserId">Edit</a> |

</div>
